<header data-role="header" data-position="fixed" role="banner" class="app-banner" data-tap-toggle="false">
  <span class="left">Texto</span>
  <h2 id="appTitle">{{ title }}</h2>
  <span class="right">Elegir Bot</span>
</header>
  
<div data-role="content" class="messages-wrapper" data-iscroll>
    
</div>

<footer data-role="footer" data-position="fixed" class="app-footer" data-tap-toggle="false" style="border: 0;">
  <div id="micro-button">
    <span class="gicon">"</span>
  </div>
  <div class="textgrid">
  	<div class="textblock">
  		<input type="text" data-clear-btn="true" name="message" id="message" placeholder="Ingrese su consulta..." /> 
  	</div>
  	<div class="sendblock">
  		<span>Enviar</span>
  	</div>
  </div>
</footer>