/*
  Android CSS

  Remove some CSS
*/

* {
  -webkit-transform: 0;
  -webkit-perspective: 0;
}

.message {
    border-radius: 6px 6px 6px 6px;
}

.message:before {
    border: 0;
    bottom: 0;
    clip: 0;
    content: 0;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}

.message.from:before {
    border: 0;
    left: 0;
    -webkit-transform: 0;
    -moz-transform: 0;
    transform: 0;
}

#micro-button,
#micro-button span,
.gicon {
  text-rendering: auto;
  -webkit-font-smoothing: none;
}