
header {
  box-shadow: 0;
  opacity: 1;
}

footer {
  z-index: 999999;
  background: black;
}

.message {
    border-radius: 0;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
}

.message:before {
    border: 0;
    bottom: 0;
    clip: 0;
    content: 0;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
}

.message.from:before {
    border: 0;
    left: 0;
    -webkit-transform: 0;
    -moz-transform: 0;
    transform: 0;
}

#app-footer {
  border: 0;
}

#micro-button {
  bottom: 0;

  background: transparent;
  border-radius: 0;

  border: 0;
  box-shadow: 0;

  opacity: 1;
}